/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



p {

    font-family: Arial;
    font-size: 100px;
    text-align: center;
    text-shadow: 3px 3px 0px #F44336,
                 6px 6px 0px #2196F3,
                 9px 9px 0px #9C27B0; 
}