/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



* {

    box-sizing: border-box;
}

input {

    display: block;
    width: 600px;
    margin: 15px auto;
    padding: 20px;
    border: 0px;
    background-color: #F4F4F4;
    caret-color: #f00;
    font-size: 1.2rem;
}

input:focus {

    outline: 0px;
}

div {

    width: fit-content;
    margin: auto;
    position: relative;
}

div::before {

    content: "";
    width: 100%;
    height: 2.7px;
    background-image: linear-gradient(to right, #F44336 50%, #009688 50%);
    position: absolute;
    bottom: 0px;
    left: 0px;
}