/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



* {

    box-sizing: border-box;
}

body {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {

    width: 200px;
    height: 200px;
    position: relative;
    perspective: 600px;
}

div::before {

    content: "Back";
    background-color: #1691fc;
    transform: rotateY(180deg);
}

div::after {
    
    content: "Front";
    background-color: #fa3664;
}

div::before,
div::after {
    
    font-family: Arial;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 2s;
}

div:hover::before {

    transform: rotateY(0deg);
}

div:hover::after {

    transform: rotateY(-180deg);
}