/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



.main-ul {

    width: 400px;
    margin: auto;
    list-style-type: none;
    padding-left: 0px;
    font-family: Arial;
}

.child {
    
    background-color: #FFFFFF;
    width: 93%;
    margin-top: 10px;
    padding: 10px;
}

.parent {
    
    padding: 10px;
    margin-bottom: 20px;
    background-color: #EEEEEE;
}

.js-ul {

    padding-left: 0px;
    list-style-position: inside;
}