/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



div {
    
    width: 100px;
    height: 100px;
    position: absolute;
}

.green {

    background-color: #009688;
    z-index: 2;
    top: 40px;
    left: 40px;
}

.red {

    background-color: #F44336;
    z-index: 3;
    top: 60px;
    left: 60px;
}

.blue {

    background-color: #03A9F4;
    z-index: 1;
    top: 20px;
    left: 20px;
}

.black {

    background-color: #333333;
    top: 40px;
    left: 20px;
}