/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



p {

    background-color: #A52A2A;
    color: white;
    width: fit-content;
    padding: 20px;
    max-width: 360px;
    white-space: nowrap;
    overflow: hidden;
}