/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



div {

    font-family: Arial;
    font-size: 1.8rem;
    background-color: #D4D4D4;
    text-align: center;
    padding: 37px;
    width: 554px;
    margin: auto;
    position: relative;
}

div::first-letter {

    font-size: 0px;
}

div::before {

    content: "1";
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 25px 19px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    margin-top: -41.5px;
    left: calc(54.03px / -2);
}
