/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



:root {

    --space-between-elements-horizontally: 15px;
}

.parent {

    width: 600px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parent div {

    background-color: #607D8B;
    color: #FFFFFF;
    font-weight: 600;
    width: calc((100% - (var(--space-between-elements-horizontally) * 2)) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.one,
.three {

    height: 15%;
}

.two,
.four,
.five,
.six {

    height: 50%;
}

.one {

    align-self: flex-end;
    order: 6;
}

.two {

    order: 5;
}

.three {

    order: 2;
}

.four {

    order: 3;
}

.five {

    order: 4;
}

.six {

    order: 1;
}