/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



.parent .child .title {

    color: #FF0000;
}

.parent .title {

    color: #0000FF;
}

.parent p,
div.title {

    color: #00FF00;
}