/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



table {

    width: 700px;
    margin: auto;
    border-bottom: 2px solid #04978A;
    direction: rtl;
    font-family: "Amiri", serif;
}

table caption {

    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 20px;
}

img {

    width: 100px;
    vertical-align: middle;
}

a {

    text-decoration: none;
    color: #FFFFFF;
}

th {

    background-color: #404040;
    color: #FFFFFF;
    padding: 20px;
    font-weight: 700;
}

td {

    background-color: #EEEEEE;
    text-align: center;
    font-weight: 400;
}

.download,
.view {

    border: 0px;
    padding: 7px;
    font-weight: 700;
}

.download {

    background-color: #03A9F4;
}

.view {

    background-color: #E91E63;
}