/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



.grid {

    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-content: space-between;
    column-gap: 20px;
}

.grid div {

    background-color: #E91E63;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}