/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



div {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: rgb(179, 179, 179); /* Get The Background From Image */
  color: black;
  font-family: Arial;
}

.one {

    background-color: rgb(179 179 179 / 0.1);
}

.two {

    opacity: 0.1;
}