/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



* {

    box-sizing: border-box;
}

:root {

    --background-color: #FF5722;
    --x-skew-degree: 10deg;
    --y-skew-degree: 10deg;
}


h1 {

    width: 150px;
    margin: 40px auto;
    background-color: var(--background-color);
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: relative;
}

h1::before,
h1::after {

    content: "";
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

h1::before {

    transform: skew(var(--x-skew-degree), var(--y-skew-degree));
}

h1::after {

    transform: skew(calc(-1 * var(--x-skew-degree)), calc(-1 * var(--y-skew-degree)));
}