/*
    اللهم صل وسلم على عبدك ورسولك وحبيبك وخليلك
    وجليسك على العرش يوم القيامة
    محمد صلى الله عليه وسلم
*/



:root {

    --back-ground-color: #009688;
}

h1 {

    background-color: var(--back-ground-color);
    color: white;
    width: fit-content;
    margin: auto;
    padding: 20px;
    position: relative;

}

h1::after {

    content: "";
    background-color: var(--back-ground-color);
    width: 24%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -14px;
    transform: skew(20deg, 0);
    z-index: -1;
}

h1::before {
    
    content: "";
    background-color: var(--back-ground-color);
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0px;
    left: -40px;
    transform: skew(20deg, 0);
}